<div class="card {{storedTheme}}" (click)="onCountrySelected()">
  <div class="card__image" [ngStyle]="{'background-image': 'url(' + country.flag + ')'}"></div>
  <div class="card__info">
    <div class="card__title"> {{country.name}}</div>
    <div class="card__population"><span class="info__bold">Population:</span> {{country.population | number}}</div>
    <div class="card__region"><span class="info__bold">Region:</span>{{country.region}}</div>
    <div class="card__capital"><span class="info__bold">Capital:</span>{{country.capital}}</div>
  </div>
</div>