.card {
  display: flex;
  flex-direction: column;

  &__image {
    width:  352px;
    height: 214px;
    background-size: cover;
    background-position: center;
  }

  &__title {
    font-weight: 800;
  }
}

.info__bold {
  font-weight: 300;
}