@import "../assets/styles/variables";
@import "../assets/styles/mixins";


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6.6875rem;
  font-size: 1.5rem;

  &__title {
    font-weight: 800;
  }


  &__theme_mode {
    font-weight: 300;
    cursor: pointer;
  }

  @include breakpoint-down(small) {
    font-size: 0.75rem;
    height: 5rem;
  }
}

.header.theme-dark {
  background-color: $darkBlueDarkMode;
  color: $white;
}

.p-x {
  // padding-left: 2.5rem;
  // padding-right: 2.5rem;
  padding-left: 6.625rem;
  padding-right: 6.625rem;

  @include breakpoint-down(small) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}

.app {
  min-height: 100vh;
}

.app.theme-light {
  background-color: $veryLightGrayLightMode;
}

.app.theme-dark {
  background-color: $veryDarkBlueDarkMode;
  color: $white;
}