@import "../../../../assets/styles/variables";

input {
  outline: none;
}

div {
  display: inline-block;
}

.search-box {
  display: inline-block;
  background-color: $white;
}

.search-box,
.search-icon,
.search-input {
  height: 74px;
}

.search-icon {
  padding-left: 42px;
  padding-right: 34px;
  color: #7B7B7B
}

.search-input {
  font-size: 18px;
  border: 0;
  width: 548px;
}

.search-input:hover:focus {
  border: 0px;
  outline: none;
}
