input {
  border-right: none;
  transition: all .3s ease-in;
  width: 120px;
  &:focus {
    width: 220px;
    ~ button {
      &.btn-search {
        background: hotpink;
        border-radius: 0 50% 50% 0;
        color: #fff;
        left: 220px;
      }
      &.btn-reset {
        animation: bounceRight .6s;
        animation-delay: .2s;
        animation-timing-function: cubic-bezier(.3,.2,1,.8);
        border-radius: 50%;
        color: #fff;
        left: 254px;
      }
    }
  }
}