@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.dropdown {
  border-radius: 5px;
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
  cursor: pointer;
  font-weight: 600;

  @include breakpoint-up(medium) {}

  @include breakpoint-down(small) {
    margin-top: 0;
  }

  &-label {
    display: flex;
    justify-content: space-between;
  }

  &-options {
    border-radius: 5px;
    list-style: none;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 10;
    width: 100%;
    li {
      padding: 0.5rem;
      padding-left: 1rem;
    }
  }
}

:host-context(.theme-dark) {

  .dropdown,
  .dropdown-options {
    background-color: $darkBlueDarkMode;
  }

  .dropdown-options > li:hover {
    background-color: lighten($color: $darkBlueDarkMode, $amount: 4);
  }
}

:host-context(.theme-light) {

  .dropdown,
  .dropdown-options {
    background-color: $white;
  }

  .dropdown-options > li:hover {
    background-color: darken($color: $white, $amount: 4)
  }
}
