@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.dropdown {
  border-radius: 0.25rem;
  position: relative;
  margin-top: 1rem;
  padding: 1rem;

  @include breakpoint-up(medium) {}

  @include breakpoint-down(small) {
    margin-top: 0;
  }

  &-label {
    display: flex;
    justify-content: space-between;
  }

  &-options {
    border-radius: 0.25rem;
    list-style: none;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 10;
    width: 100%;
    li {
      padding: 0.5rem;
    }
  }
}

:host-context(.theme-dark) {

  .dropdown,
  .dropdown-options {
    background-color: $darkBlueDarkMode;
  }
}

:host-context(.theme-light) {

  .dropdown,
  .dropdown-options {
    background-color: $white;
  }
}
